main {
  display: grid;
  grid-template-rows: 50px 500px 50px;
  box-sizing: border-box;
  gap: 20px;
  justify-items: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

div {
  overflow: auto;
  width: 80%;
  background-color: #f5f5f5;
}

table {
  grid-row: 2;
  border-collapse: collapse;
  margin: auto;
}

thead > tr {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

th {
  font-weight: 900;
}

th,
td {
  height: 40px;
  border: 1px solid #000;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px;
}

td:last-child {
  font-size: 30px;
  color: #969600;
  user-select: none;
  cursor: pointer;
}

td:last-child:hover {
  color: #b40000;
}

tr > *:nth-last-child(-1n + 3):not(:last-child) {
  border-right: none;
}

tr > *:nth-last-child(-1n + 2) {
  border-left: none;
  user-select: none;
}

tr[data-finished-reading] > td:nth-last-child(2) {
  position: relative;
  cursor: pointer;
  font-size: 25px;
}

tr[data-finished-reading] > td:nth-last-child(2)::after {
  content: " ";
  position: absolute;
  font-size: 40px;
  top: -2px;
}

tr[data-finished-reading="true"] {
  background-color: #00c8aa;
}

tr[data-finished-reading="true"] > td:nth-last-child(2)::after {
  content: "-";
}

tr[data-finished-reading="false"] > td:nth-last-child(2)::after {
  content: "+";
}

colgroup > col:nth-child(-1n + 2) {
  width: 40%;
}

button {
  width: 150px;
  height: 40px;
}

input[type="submit"],
button {
  cursor: pointer;
}

form {
  display: grid;
  grid-auto-rows: 50px;
  width: 400px;
  visibility: hidden;
}

form > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form > section:last-of-type {
  justify-content: start;
}
